* {
    box-sizing: border-box;
}

#headerdiv {
    width: 100%;
    height: 120px;
}

.header {
    border: 5px solid #fcdf9c;
    width: 100%;
    height: 300px;
    background-size: cover;
    padding: 30px;
    background: white;
    flex: auto;
}

.topnav {
    overflow: hidden;
    background-color: #fcdf9c;
}
.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#headerimg {
    display: inline-flex;
    width: 100%;
    height: 200px;
}

body {
    font-family: 'Roboto', sans-serif;
}

div#linkjes {
    display: flex;
    justify-content: space-evenly;
    width: content-box;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border: solid black 2px;
    grid-area: linkjes;
    margin-top: 80px;
    height: 140px;

}

.linkimg {
    width: 150px;
    height: 150px;
    border: solid sandybrown 2px;
    margin-top: 30px;
}


div#wrapper {
    margin: auto;
    width: 90%;
    display: grid;
    grid:
            "header header header header" 140px
            "fotos tekstvak1 tekstvak2 tekstvak3" 300px
            "fotos tekstvak1 video video" 300px
            "linkjes linkjes linkjes linkjes" 200px
            "footer footer footer footer" 240px
    /25%     25%     25%      25%
;
}

div#fotos {
    grid-area: fotos;
    padding: auto;
}

img.artist {
    float: top;
    height: 300px;
    width: 100%;
    margin: 30px auto 10px;
}

div#tekstvak1 {
    grid-area: tekstvak1;
    padding: 10px;
}

div#tekstvak2 {
    grid-area: tekstvak2;
    padding: 10px;
    height: 350px;
}

div#tekstvak3 {
    grid-area: tekstvak3;
    padding: 10px;
    height: 350px;
}

#iframe {
    grid-area: video;
    height: 100%;
    width: 100%;
}
iframe{
    height: 100%;
    width: 100%;
}

footer {
    background-color: rgb(153, 153, 153);
    grid-area:footer;
    margin-top: 90px;
    height: 240px;
}