* {
    box-sizing: border-box;
}

div#content {
    padding: 10px;
    margin: auto;
    display: flex;

}

h1 {
    text-align: right;
}

body {
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    margin: auto;
    width: 90%;
}

.header {
    border: 5px solid #fcdf9c;
    width: 100%;
    height: 300px;
    background-size: cover;
    padding: 30px;
    background: white;
    flex: auto;
}

.topnav {
    overflow: hidden;
    background-color: #fcdf9c;
}
.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#headerimg {
    display: inline-flex;
    width: 100%;
    height: 200px;
}


h3 {
    vertical-align: top;
    margin: 0 auto 0;
}

#overzicht {
    width: 50%;
    text-align: left;
    margin-left: 10px;
}

li {
    text-decoration: overline;
}

ul {
    list-style: none;
}

div#linkjes {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
    background-color: lightgoldenrodyellow;
    padding: 20px;
    border: solid black 2px;

}

.linkimg {
    width: 150px;
    height: 150px;
    border: solid sandybrown 2px;
}
a{
    margin: auto;
    margin-top: 30px;
}

div#wrapper{
    margin: auto;
    padding: 10px;
}

footer {
    background-color: rgb(153, 153, 153);
}

.footerlink {
    text-decoration: none;
    padding: 5px;
    color: white;
}

#copyright {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}