div#content{
    padding: 10px;
    margin: auto;
    display: flex;
}
img#main{
    width: 50%;
}
h1{
    text-align: right;
}
body{
    padding: 10px;
    margin: 10px 30px;
}
div#overzicht{
    width: 50%;
    text-align: left;
}
header{
    width: 100%;
    padding: 10px;
    margin: auto;
}