* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    border: 5px solid #fcdf9c;
    width: 100%;
    height: 300px;
    background-size: cover;
    padding: 30px;
    background: white;
    flex: auto;
}

.topnav {
    overflow: hidden;
    background-color: #fcdf9c;
}
.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

#headerimg {
    display: inline-flex;
    width: 100%;
    height: 200px;
}

#wrapper {
    width: 90%;
    margin: auto;
}

section {
    display: inline-block;
    width: 40%;
}
#bakken {
    width: 100%;
}

.bakimage {
    margin-right: 60px;
    width: 20%;
}

#gerecht {
    float: right;
    width: 100%;
}

.spgerecht {
    width: 50%;
    float: right;
}

#deel1 {
    vertical-align: top;
}

footer {
    background-color: rgb(153, 153, 153);
}

.footerlink {
    text-decoration: none;
    padding: 5px;
    color: white;
}

#copyright {
    position: relative;
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}