* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
}

.header {
    border: 5px solid #fcdf9c;
    width: 100%;
    height: 300px;
    background-size: cover;
    padding: 30px;
    background: white;
    flex: auto;
}

.topnav {
    overflow: hidden;
    background-color: #fcdf9c;
}
.topnav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.leftcolumn {
    width: 55%;
    float: left;
}

.rightcolumn {
    width: 45%;
    float: right;
    padding-left: 20px;
}

.column {
    width: 30%;
    float: left;
}

.column.left {
    padding: 2px;
    width: 25%;
}

.column.right {
    padding: 2px;
    width: 25%;
}

.image {
    float: left;
    padding: 20px;
    width: 20%;
}

h2 {
    border-bottom: 1px solid #fcdf9c;
}

.card {
    border: 5px solid #fcdf9c;
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 400px) {
    .column.side, .column.middle, .leftcolumn, .rightcolumn .image {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}




